@import "../../assets/styles/globalVariables.scss";
.education-container {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-family: "JetBrains Mono", monospace;
  width: 100%;
  .education-item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    .sub-item {
      font-weight: 800;
      color: $gray-text-color;
    }
    .description {
      font-weight: 500;
      font-style: italic;
      text-align: right;
    }
    @include xl {
      margin-left: 5%;
      margin-right: 5%;
      justify-content: space-between;
    }
  }
  p {
    margin: 0;
  }
  hr {
    width: 100%;
    @include xl {
      width: 90%;
    }
  }
}
