@import "../../assets/styles/globalVariables.scss";
.job-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  .job-information {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .job-information-fields {
      display: flex;
      
      .information-title {
        font-weight: 800;
        color: $gray-text-color;
      }
      font-family: "Courier New", Courier, monospace;
      display: flex;
      flex-direction: row;
      gap: 10px;
      .details {
        font-weight: 500;
        font-style: italic;
        text-align: right;
        
      }
      p {
        margin: 0;
      }
      @include xl{
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;
      }
    
    }
    hr {
      width: 100%;
      @include xl{
        width: 90%;
      }
    }
   
  }
  .job-description {
    color: $gray-text-color;
    word-wrap: break-word; 
    overflow-wrap: anywhere; 
    text-align: justify;
    @include xl{
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  
}
