@import '../../assets/styles/globalVariables.scss';
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $navbar-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .firstname-lastname {
    color: white;
    margin-left: 15px;
  }

  .navigation-buttons {
    margin-right: 15px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    color: $gray-text-color;
    align-items: center;
    h2 {
      cursor: pointer;
      transition: color 1s ease;
    }

    h2:hover {
      color: white;
    }

    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    position: absolute;
    top: auto;
    right: 20px;
    z-index: 20;

    .bar {
      width: 100%;
      height: 3px;
      background-color: white;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &.open {
      .bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 10px;
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -7px;
      }
    }
  }

  @media (max-width: 1170px) {
    .navigation-buttons {
      position: absolute;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      background-color: $navbar-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      transition: left 0.3s ease-in-out;
    
    }

    .navigation-buttons.open {
      left: 0;
    }

    .hamburger-menu {
      display: flex;
    }

   
  }
}
